<div>
  <div>
    <input class="input" [(ngModel)]="name" placeholder="Name of Story" />
  </div>

  <div>
    <select [(ngModel)]="selectedOptionGenre">
      <option *ngFor="let option of optionGenre" value="option.code">
        {{ option.name }}
      </option>
    </select>
  </div>

  <div>
    <select [(ngModel)]="selectedOptionStyle">
      <option *ngFor="let option of optionStyle" value="option.code">
        {{ option.name }}
      </option>
    </select>
  </div>

  <div>
    <div *ngFor="let character of characters; index as i">
      <span>Character {{ i + 1 }} : </span>
      <input [value]="character.firstName" placeholder="First Name" />
      <input [value]="character.lastName" placeholder="Last Name" />
    </div>
    <button (click)="addCharacter()">Add character</button>
  </div>

  <div><button (click)="generate()">Generate</button></div>
</div>
