<div>Sign Up</div>

<div>
  <input [(ngModel)]="email" placeholder="Email" />
</div>

<div>
  <input [(ngModel)]="firstName" placeholder="First Name" />
</div>

<div>
  <input [(ngModel)]="lastName" placeholder="Last Name" />
</div>

<div>
  <input [(ngModel)]="password" placeholder="Password" />
</div>

<div>
  <input [(ngModel)]="passwordRepeat" placeholder="Repeat Password" />
</div>

<div>
  <button (click)="signUp()">Create account</button>
</div>

<notifier-container></notifier-container>
